#container{
    display: flex;
    justify-content: center;
}

#instructions{
    display:flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

#level{
    display: flex;
    justify-content: center;
}

.grid td.notStarred {
    cursor:pointer;
    width:60px; height:60px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px;
    color: white;
    background-color: black;
}

/* earthworm jim inspired scheme */
.grid td.red {
    background-color: #373f6d ;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.blue {
    background-color: #d04331;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.cornflowerblue{
    background-color: #3f6035;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.chartreuse{
    background-color: #a1a767;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.darkmagenta{
    background-color: #958327;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.forestgreen{
    background-color: #d9818d;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.orange{
    background-color: #b51b25;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
    
.grid td.grey{
    background-color:#ef9120;
    color: black;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.grid { margin:1em auto; border-collapse:collapse }
.grid td.starred {
    cursor:pointer;
    width:60px; height:60px;
    border:1px solid #ccc;
    text-align:center;
    background-image: url('./Mario-Star.png');
    background-size: contain;
}

.grid td.wrongAnswer{
    background-color: black;
}
