.grid td.notStarred {
    cursor:pointer;
    width:60px; height:60px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px;
    color: white;
    background-color: black;
}

.grid td.red {
    background-color: red;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.blue {
    background-color: blue;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.cornflowerblue{
    background-color: cornflowerblue;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.chartreuse{
    background-color: chartreuse;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.darkmagenta{
    background-color: darkmagenta;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.forestgreen{
    background-color: forestgreen;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.grid td.orange{
    background-color: orange;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
    
.grid td.grey{
    background-color:grey;
    color: black;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.grid { margin:1em auto; border-collapse:collapse }
.grid td.starred {
    cursor:pointer;
    width:60px; height:60px;
    border:1px solid #ccc;
    text-align:center;
    background-image: url('./Mario-Star.png');
    background-size: contain;
}

.grid td.wrongAnswer{
    background-color: black;
}
